@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@media screen and (max-width: 576px) {
    #header{width: 384px;}
    #nav{width: 384px;}
    #header ul{right: 5%;}
}
@media screen and (min-width: 576px) and (max-width: 768px) {
     #header{width: 576px;}
     #nav{width: 576px;}
     #header ul{right: 5%;}
}
@media screen and (min-width: 768px) and (max-width: 960px) {
     #header{width: 768px;}
     #nav{width: 768px;}
     #header ul{right: 5%;}
}
@media screen and (min-width: 960px) {
     #header{width: 960px; }
     #nav{width: 960px;}
     #header ul{right: 14%;}
}

body{
	background-color: #fefefe;
	font-family: 'Nanum Gothic', serif;
	height: 100%;
}
#header {
	margin: 20px auto;
}

/* head -------------------------------------------------------------------- */
#nav{
	margin: 0 auto;
}

#nav img{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#header ul{
	list-style:none;
    display: block;
    position: absolute;
    top: -10px;
}

#header ul li{
	margin: 5px 5px 5px 10px;
	font-size: 15px;
	text-align:center;
    background: none;
    color: #444;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    float: left;
}

#header ul li a{
	text-decoration: none;
	color: #444;
}

#header ul li:hover{
    cursor: pointer;
}


/* head -------------------------------------------------------------------- */