table {
	width: 930px;
	border-collapse: collapse;
	font-size: 13px;
}

th {
	padding: 7px 0;
	background-color: #F7F5F5;
	border-top: 2px solid #594F4F;
	border-bottom: 2px solid #ddd;
}

td {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #999;
}
#topBtn{
	width: 930px;
}
#btnBox {
	margin-bottom: 10px;
}

#con-tit {
	margin-top: 4px;
}

#menu-btn {
	width: 50px;
	padding: 5px;
	font-size: 13px;
	text-align: center;
	background-color: #9EBB3E;
	color: #fefefe;
	cursor: pointer;
	display: inline-block;
}
/* th 길이 설정 ---------------------------------------------------------*/
#chk {
	width: 20px;
}

#btn {
	width: 35px;
}

#big-class {
	width: 70px;
}

#num, #gender {
	width: 30px;
}

#address {
	width: 200px;
}

#containername {
	width: 350px;
}

#name, #grade {
	width: 50px;
}

#tel {
	width: 100px;
}

#bob-full, #kcal, #count {
	width: 80px;
}

#acount, #mail {
	width: 150px;
}

#small-class {
	width: 95px;
}

#update-btn {
	border: 0 none;
	background: none;
	cursor: pointer;
	color: #73882C;
	font-family: 'Nanum Gothic', serif;
}